<section class="content-header">
 <h1> Nombre<small>{{title}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="dashboard"><i class="fa fa-newspaper-o"></i> Inicio</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Editar {{title}}</h3>
                    <hr>
                </div><!-- /.box-header -->
                <div class="box-body">
                        <form  #formCategoria="ngForm" (ngSubmit)="onSubmit()"  class="m-t" role="form" id="form-categoria">
                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class="form-group">	
                                    <label class="control-label col-md-2" for="Plancuentainactiva">Categoria</label>
                                    <div class="col-md-9">		
                                        <span *ngIf="!denominacion.valid && denominacion.touched" class="label label-danger">Denominación</span>
                                        <input  type="text" #denominacion="ngModel" name="denominacion" [(ngModel)]="categoria.denominacion" class="form-control" required />
                                    </div>	
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-md-12">
                                    <a routerLink="/dashboard/categoria">Volver al listado</a>
                                    <input value="Guardar" [disabled]="!formCategoria.form.valid" class="btn btn-primary pull-right"  type="submit">
                                </div>
                            </div>
                        </form>
                    </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->