<footer id="footer" class="dark_section">
        <div class="container">
        <div class="row">
            <div class="col-md-4 widget widget_recent_entries to_animate">
                <ul>
                        <li>
                            <a href="/contents/display/quienes-somos">Ayuda</a>
                        </li>
                        <li>
                            <a href="/contents/display/acerca">Sobre Nosotros</a>
                        </li>
                        
                </ul>
            </div>
            <div class="col-md-4 widget widget_recent_entries to_animate">
                <ul>
                        <li>
                            <a routerLink="/contacto" >Contacto</a>
                        </li>
                        <li>
                            <a href="/contents/display/terminos">T&eacute;rminos de condiciones</a>
                        </li>
                        
                </ul>
            </div>
            <div class="col-md-4">
                    <div id="centrada">
                        <div class="cube flip-to-top">
                            <div class="default-state facebook">
                                    <span>Like</span>
                            </div>
                            <div class="active-state facebook">
                                <span><a href="#" target="_blank">Facebook</a></span>
                            </div>
                        </div>
                        <div class="cube flip-to-top ">
                            <div class="default-state google-plus">
                                    <span>+1</span>
                            </div>
                            <div class="active-state google-plus">
                                <span><a href="#" target="_blank">Google Plus</a></span>
                            </div>
                        </div>
                        <div class="cube flip-to-top ">
                            <div class="default-state twitter2">
                                    <span>Follow</span>
                            </div>
                            <div class="active-state twitter2">
                                <span><a href="#" target="_blank">twitter</a></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
</footer>
<section id="copyright" class="dark_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>© Copyright 2017 - Retuar </p>
            </div>
        </div>
    </div>
</section>