<section class="content-header">
 <h1> Nombre<small>{{title}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="dashboard"><i class="fa fa-newspaper-o"></i> Inicio</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Agregar {{title}}</h3>
                    <hr>
                </div><!-- /.box-header -->
                <div class="box-body">
                        <form #formSubcategoria="ngForm" (ngSubmit)="onSubmit()"  class="form-horizontal" role="form" id="form-subcategoria">
                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class="form-group">
                                    <label class="control-label col-md-2" for="categoria_id">Categoria</label>
                                        <div class="col-md-9">		
                                            <select id="Categoria" #categoria_id="ngModel" name="categoria_id" class="form-control" [(ngModel)]="subcategoria.categoria_id" >                                
                                                <option *ngFor="let categoria of categorias"  value="{{categoria.id}}">     
                                                    {{categoria.denominacion}}
                                                </option>
                                            </select>
                                        </div>	
                                    </div>
                                    <div class="form-group">	
                                    <label class="control-label col-md-2" for="denominacion">Denominación</label>
                                        <div class="col-md-9">		
                                            <span *ngIf="!denominacion.valid && denominacion.touched" class="label label-danger">Denominación</span>
                                            <input type="text" #denominacion="ngModel" name="denominacion" [(ngModel)]="subcategoria.denominacion" class="form-control" required />
                                        </div>	
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a routerLink="/dashboard/categoriasub">Volver al listado</a>
                                    <input value="Guardar" class="btn btn-primary pull-right" [disabled]="!formSubcategoria.form.valid"  type="submit">
                                </div>
                            </div>
                        </form>
                    </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->