<section class="content-header">
 <h1> Nombre<small>{{title}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="dashboard"><i class="fa fa-newspaper-o"></i> Inicio</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>
<section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                        <hr>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                    <p><a routerLink="/dashboard/categoriasub/add" class="btn btn-primary">Crear Nuevo</a></p>
							<table id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered responsive nowrap" width="100%" cellspacing="0">
                            <thead>
							<tr>
                                <th>Categoria</th>
                                <th>Denominación</th>
                                <th class="actions">Acción</th>
							</tr>
							</thead>
							<tbody>
                                <tr *ngFor="let datos of data" id="tr_{{datos.id}}">
                                    <td>{{datos.data.denominacion}}</td>
                                    <td>{{datos.denominacion}}</td>
                                    <td>
                                        <div class="botones" *ngIf="confirmado != datos.id">
                                            <a routerLink="/dashboard/categoriasub/edit/{{datos.id}}"   class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                                            <a routerLink="/dashboard/categoriasub/view/{{datos.id}}"  class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a>
                                            <a (click)="borrarConfirm(datos.id);" class="btn btn-md btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                        </div>
                                        <div class="seguro" *ngIf="confirmado == datos.id">
                                            <a (click)="onDeleteId(datos.id);" class="btn btn-md btn-danger btn-sm">Quiero eliminarlo</a>
                                            <a (click)="cancelarConfirm();"    class="btn btn-md btn-warning btn-sm">Cancelar</a>
                                        </div>

                                    </td>
                                </tr>
							</tbody>
							</table>
						</div>
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
</section><!-- /.content -->        
