<section class="content-header">
 <h1> Nombre<small>{{title}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="dashboard"><i class="fa fa-newspaper-o"></i> Inicio</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>
<section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                        <hr>
                    </div><!-- /.box-header -->
                    <div class="box-body">
						<dl class="dl-horizontal">
                            <dt>Categoria</dt>
                            <dd>
                                {{data.data.denominacion}}
                                &nbsp;
                            </dd>

                            <dt>Denominación</dt>
                            <dd>
                                {{data.denominacion}}
                                &nbsp;
                            </dd>
                        </dl>
						<p>
						    		 <a routerLink="/dashboard/categoriasub/edit/{{data.id}}">Editar</a>
                            |
                            		  <a routerLink="/dashboard/categoriasub">Volver al listado</a>
                        </p>
					</div>
			    </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
</section><!-- /.content -->
