<app-nav></app-nav>
<section class="banner">
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 class="hs-line">
				Contacto</h1>
			<div class="hs-line-des">
				Awesome team of choreographers &amp;&nbsp;just good people</div>
		</div>
		<div class="col-md-4 mt-30">
			<div class="mod-breadcrumbs">
				<a href="/">Home</a>&nbsp;/&nbsp;<a href="#">Pages</a>&nbsp;/&nbsp;<span>Contact</span></div>
		</div>
	</div>
</div>
</section><section class="grey_section" id="content">
<div class="container">
	<div class="row">
		<div class="widget widget_contact col-sm-6 ">
			<header class="section_header">
			<h2>
				Informaci&oacute;n de Contacto</h2>
			</header>
			<p>
				Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. In ac felis quis tortor malesuada pretium. In hac habitasse platea dictumst curabitur nisi hac habitasse platea dictumst maecenas nec odio et ante tincidunt tempus morbi ac felis.<br />
				<br />
				<strong>Tel&eacute;fono:</strong> +12 345 678 9123</p>
			<p>
				<strong>Email:</strong> <a href="mailto:info@neodancer.com">info@neodancer.com</a></p>
			<p>
				<strong>Website: </strong><a href="http://dance.jcloudtec.com">http://dance.jcloudtec.com</a></p>
			<p>
				<strong>Direcci&oacute;n:</strong> 4321 Your Address, Country</p>
			<div class="social-mid">
				&nbsp;</div>
		</div>
		<div class="widget col-sm-6 to_animate animated fadeInUp">
			<header class="section_header">
			<h2>
				Formulario de Contacto</h2>
			</header>
			<form action="/" class="contact-form" method="post" style="color: #000;">
				<p class="contact-form-name">
					<label for="name">Nombre <span class="required">*</span></label> <input aria-required="true" class="form-control" id="name" name="name" placeholder="Nombre" size="30" type="text" /></p>
				<p class="contact-form-email">
					<label for="email">Email <span class="required">*</span></label> <input aria-required="true" class="form-control" id="email" name="email" placeholder="Email" size="30" type="email" /></p>
				<p class="contact-form-subject">
					<label for="subject">Asunto <span class="required">*</span></label> <input aria-required="true" class="form-control" id="subject" name="subject" placeholder="Asunto" size="30" type="text" /></p>
				<p class="contact-form-message">
					<label for="message">Mensaje</label><textarea aria-required="true" class="form-control" cols="45" id="message" name="message" placeholder="Mensaje" rows="8"></textarea></p>
				<p class="contact-form-submit vertical-margin-40">
<!-- <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_button"> -->					<button class="theme_button" id="contact_form_submit" name="contact_submit" type="submit">Enviar</button></p>
			</form>
		</div>
	</div>
</div>
</section> 
<app-footer></app-footer>