<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Panel</b> Administrativo</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Inicio de session</p>
          
          
          <form #formLogin="ngForm" (ngSubmit)="onSubmit()"  class="m-t" role="form" id="form-login">
              <div class="form-group has-feedback">
                <span *ngIf="!password.valid && password.touched" class="label label-danger">Password es obligatorio.</span>
                <input type="text" #username="ngModel" name="username" [(ngModel)]="login.username" class="form-control" required />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <span *ngIf="!password.valid && password.touched" class="label label-danger">Password es obligatorio.</span>
                  <input type="password" #password="ngModel" name="password" [(ngModel)]="login.password" class="form-control" required />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <div class="checkbox icheck">
                  </div>
                </div><!-- /.col --> 
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!formLogin.form.valid" >Login</button>
                </div><!-- /.col -->
              </div>
            </form>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->