<header id="header">
    <div class="container" style="margin-top:10px;">
        <nav class="navbar">
            <div class="container-fluid">
            <div class="navbar-header">
                <a routerLink="/">
                <img src="assets/img/logo/logor.png" alt="" width="150px" height="50px" />
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    </div>
                </div>
                </form> 
                <button class="btn btn-disabled navbar-btn">Iniciar sesión</button>
                <button class="btn btn-danger navbar-btn">Alquila tus articulos</button>
            </ul>
            </div>
        </nav>
    </div>
</header>