<app-nav></app-nav>
<section id="mainslider">
    <div class="flexslider">
        <ul class="slides">
                <li>
                <div class="slide_overlay">
                        <img src="assets/img/slider/slider1.jpg" alt="" />                        
                </div>
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <h2 data-animation="fadeInDown">Prueba texto titulo slider 2</h2>
                            <h4 data-animation="fadeInUp">Prueba texto titulo slider 2</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide_overlay">
                        <img src="assets/img/slider/slider1.jpg" alt="" />                        
                    </div>
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <h2 data-animation="fadeInDown">Prueba texto titulo slider 1111</h2>
                            <h4 data-animation="fadeInUp">Prueba texto sub-titulo slider 1111</h4>
                        </div>
                    </div>
                </li>
        </ul>
    </div>
</section>

<section class="grey_section">
<div class="container">
    <header class="section_header text-center">
        <h2><a href="/sistemaportalweb/rspaldo/noticias/vertodas">Herramientas</a> </h2>
    </header>
    <div class="row">
            <div class="col-md-4 col-sm-6 col-sx-12">
                <div class="blog_update_item">
                    <div class="blog_update_item_overlay">
                        <img alt="" src="assets/img/productos/foto1.jpg">
                        <div class="overlay"></div>
                    </div>
                    <!-- item body -->
                    <div class="blog_body_item">
                        <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                        <p>4500$ / Dias</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-sx-12">
                <div class="blog_update_item">
                    <div class="blog_update_item_overlay">
                        <img alt="" src="assets/img/productos/foto1.jpg">
                        <div class="overlay"></div>
                    </div>
                    <!-- item body -->
                    <div class="blog_body_item">
                        <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                        <p>4500$ / Dias</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-sx-12">
                <div class="blog_update_item">
                    <div class="blog_update_item_overlay">
                        <img alt="" src="assets/img/productos/foto1.jpg">
                        <div class="overlay"></div>
                    </div>
                    <!-- item body -->
                    <div class="blog_body_item">
                        <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                        <p>4500$ / Dias</p>
                    </div>
                </div>
            </div>
            
    </div>
</div>
</section>


<section class="grey_section">
    <div class="container">
        <header class="section_header text-center">
            <h2><a href="/sistemaportalweb/rspaldo/noticias/vertodas">Electronica</a> </h2>
        </header>
        <div class="row">
                <div class="col-md-4 col-sm-6 col-sx-12">
                    <div class="blog_update_item">
                        <div class="blog_update_item_overlay">
                            <img alt="" src="assets/img/productos/foto2.jpg">
                            <div class="overlay"></div>
                        </div>
                        <!-- item body -->
                        <div class="blog_body_item">
                            <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                            <p>4500$ / Dias</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-sx-12">
                    <div class="blog_update_item">
                        <div class="blog_update_item_overlay">
                            <img alt="" src="assets/img/productos/foto2.jpg">
                            <div class="overlay"></div>
                        </div>
                        <!-- item body -->
                        <div class="blog_body_item">
                            <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                            <p>4500$ / Dias</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-sx-12">
                    <div class="blog_update_item">
                        <div class="blog_update_item_overlay">
                            <img alt="" src="assets/img/productos/foto2.jpg">
                            <div class="overlay"></div>
                        </div>
                        <!-- item body -->
                        <div class="blog_body_item">
                            <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                            <p>4500$ / Dias</p>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
</section>


<section class="grey_section">
    <div class="container">
        <header class="section_header text-center">
            <h2><a href="/sistemaportalweb/rspaldo/noticias/vertodas">Hogar</a> </h2>
        </header>
        <div class="row">
                <div class="col-md-4 col-sm-6 col-sx-12">
                    <div class="blog_update_item">
                        <div class="blog_update_item_overlay">
                            <img alt="" src="assets/img/productos/foto3.jpg">
                            <div class="overlay"></div>
                        </div>
                        <!-- item body -->
                        <div class="blog_body_item">
                            <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                            <p>4500$ / Dias</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-sx-12">
                    <div class="blog_update_item">
                        <div class="blog_update_item_overlay">
                            <img alt="" src="assets/img/productos/foto3.jpg">
                            <div class="overlay"></div>
                        </div>
                        <!-- item body -->
                        <div class="blog_body_item">
                            <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                            <p>4500$ / Dias</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-sx-12">
                    <div class="blog_update_item">
                        <div class="blog_update_item_overlay">
                            <img alt="" src="assets/img/productos/foto3.jpg">
                            <div class="overlay"></div>
                        </div>
                        <!-- item body -->
                        <div class="blog_body_item">
                            <h2 class="blog_item_title"><a href="/sistemaportalweb/rspaldo/noticias/entrada/7/JcloudTec_prueba_noticia">Titulo producto</a></h2>
                            <p>4500$ / Dias</p>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
</section>

          
<app-footer></app-footer>