<!-- Site wrapper -->
<div class="wrapper">
    <dashboard-nav></dashboard-nav>
    <!-- =============================================== -->
    <dashboard-menu></dashboard-menu>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
            <router-outlet></router-outlet> 
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
    <div class="pull-right hidden-xs"><b>Version</b> 1.0.0</div>
    <strong>Copyright &copy; 2017</strong> All rights reserved.
    </footer>
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
