@charset "utf-8";

* {
     overflow-wrap: break-word;
}

.box-body form .form-group{
    padding-bottom: 10px;
}

file{
    height:50px;
}

.entrada .metas,
.recientes .metas{
    margin-top: 0px;
    padding-top: 0px;
}

.entrada .entry-title,
.recientes .entry-title{
    margin-bottom: 20px;
}

.entrada .entry-thumbnail{
    margin-top: 35px;
    margin-bottom: 35px;
}

.border-box{
    border: solid 1px #e4e4e4;
}
